.nav-item:hover{
    color: #F67E7E!important;
}

.head-btn:hover{
    background-color: white;

    & > p{
        color: black;
    }
}

.head-btn:active{

    & > p{
        color: white;
    }
}