.section_2{
    background-color: #012F34;
    position: relative;

    &::before{
        content: "";
        background: url(/img/psedoelement2.png) no-repeat;
        @include pseudoElement(90px, 210px);
        right: 0;
        bottom: 0;
    }
}

.section2{
    margin-top: 180px;
    padding-top: 110px;
    padding-bottom: 110px;

    &__block1{

        &__title{
            color: white;
            width: 280px;
        }

        &__line{
            width: 30px;
            height: 2px;
            background-color: #F67E7E;
        }
    }

    &__block2{

        &__content{

            & > h5{
                color: #F67E7E;
            }

            & > p{
                color: white;
                width: 450px;
            }

            &:nth-child(1) >h5{
                position: relative;

                &::before{
                    content: "";
                    background: url(/img/sec2-ps1.png) no-repeat;
                    @include pseudoElement(60px, 60px);
                    left: -75px;
                }
            }

            &:nth-child(2) >h5{
                position: relative;

                &::before{
                    content: "";
                    background: url(/img/sec2-ps2.png) no-repeat;
                    @include pseudoElement(60px, 60px);
                    left: -75px;
                }
            }

            &:nth-child(3) >h5{
                position: relative;

                &::before{
                    content: "";
                    background: url(/img/sec2-ps3.png) no-repeat;
                    @include pseudoElement(60px, 60px);
                    left: -75px;
                }
            }
        }
    }
}

@media only screen and (max-width: 991.5px){

    .section_2{
    
        &::before{
            top: 0;
        }
    }
    
    .section2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        &__block1{
    
            &__title{
                width: 480px;
            }
        }
    
        &__block2{
    
            &__content{
                margin-left: 75px;
    
                & > p{
                    width: 550px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){

    .section2{
    
        &__block2{
    
            &__content{
    
                & > p{
                    width: fit-content;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    
    .section2{
        margin-top: 120px;
    }
}

@media only screen and (max-width: 576px){

    .section2{
    
        &__block1{
    
            &__title{
                margin-right: 80px;
                width: fit-content;
            }
        }
    
        &__block2{
            margin-right: auto!important;
            margin-left: auto!important;
    
            &__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-top: 100px;
                margin-left: 0!important;
                padding-left: 50px;
                padding-right: 50px;
    
                &:nth-child(1) >h5{
                    width: 250px;
    
                    &::before{
                        left: 95px;
                        top: -80px;
                    }
                }
    
                &:nth-child(2) >h5{
                    width: 250px;
    
                    &::before{
                        left: 95px;
                        top: -80px;
                    }
                }
    
                &:nth-child(3) >h5{
                    width: 250px;
    
                    &::before{
                        left: 95px;
                        top: -80px;
                    }
                }
            }
        }
    }
}