.section1{
    position: relative;

    &__title{
        font-size: 90px;
        width: 500px;
        font-family: livvic-700;

        & > span{
            color: #F67E7E;
        }
    }

    .description{
        width: 370px;
        
        &__line{
            width: 30px;
            height: 2px;
            background-color:#79C8C7;
        }
    }


    &::before{
        content: "";
        position: absolute;
        width: 250px;
        height: 72px;
        background: url(/img/psiedoElement2.png) no-repeat;
        background-size: 100% 100%;
        bottom: -180px;
        right: 15px;
    }
}