.section_2{
    background-color: #012F34;
    position: relative;

    &::before{
        content: "";
        background: url(/img/psedoelement2.png) no-repeat;
        @include pseudoElement(90px, 210px);
        right: 0px;
        bottom: 0;
    }
}

.section2{
    margin-top: 180px;
    padding-top: 110px;
    padding-bottom: 110px;

    &__block1{

        &__title{
            color: white;
            width: 280px;
        }

        &__line{
            width: 30px;
            height: 2px;
            background-color: #F67E7E;
        }
    }

    &__block2{

        &__content{

            & > h5{
                color: #F67E7E;
            }

            & > p{
                color: white;
                width: 450px;
            }

            &:nth-child(1){
                position: relative;

                &::before{
                    content: "";
                    background: url(/img/sec2-ps1.png) no-repeat;
                    @include pseudoElement(60px, 60px);
                    left: -75px;
                }
            }

            &:nth-child(2){
                position: relative;

                &::before{
                    content: "";
                    background: url(/img/sec2-ps2.png) no-repeat;
                    @include pseudoElement(60px, 60px);
                    left: -75px;
                }
            }

            &:nth-child(3){
                position: relative;

                &::before{
                    content: "";
                    background: url(/img/sec2-ps3.png) no-repeat;
                    @include pseudoElement(60px, 60px);
                    left: -75px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){

    .section_2{
    
        &::before{
            top: 0;
        }
    }
    
    .section2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        &__block1{
    
            &__title{
                width: 480px;
            }
        }
    
        &__block2{
    
            &__content{
                margin-left: 75px;
    
                & > p{
                    width: 550px;
                }
    
                &:nth-child(1){
    
                    &::before{
                        left: -75px;
                    }
                }
    
                &:nth-child(2){
    
                    &::before{
                        left: -75px;
                    }
                }
    
                &:nth-child(3){
    
                    &::before{
                        left: -75px;
                    }
                }
            }
        }
    }
}