@mixin pseudoElement($width, $height) {
    position: absolute;
    width: $width;
    height: $height;
    background-size: 100% 100%;
}

@mixin sec3PsElem($pic, $left, $top, $bottom) {
    position: relative;

    &::before{
        content: "";
        position: absolute;
        width: 70px;
        height: 70px;
        background: $pic no-repeat;
        background-size: 100% 100%;
        bottom: $bottom;
        left: $left;
    }

    &::after{
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        background: url(/img/“\ 2.png) no-repeat;
        background-size: 100% 100%;
        top: $top;
        left: $left;
        z-index: -1;
    }
}

@mixin sec3AfBef($width, $height) {
    content: "";
        position: absolute;
        width: $width;
        height: $height;
        background-size: 100% 100%;
}

@mixin contactPs($url) {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    background: $url;
    background-size: 100% 100%;
    left: 0;
    top: 20px;
}