.contactSection{
    position: relative;
    padding-bottom: 40px;

    &::before{
        content: "";
        background: url(/img/psElement11.png) no-repeat;
        @include pseudoElement(80px, 160px);
        left: 0;
        top: 0;
    }

    &::after{
        content: "";
        background: url(/img/psElement12.png) no-repeat;
        @include pseudoElement(80px, 160px);
        right: 0;
        bottom: 0;
    }
}

.contact{

    & >h1{
        font-size: 50px;
    }

    & >h2{
        color: #F67E7E;
        margin-bottom: 30px;
    }

    & >p{
        padding-top: 30px;
        padding-left: 60px;
        position: relative;
    }

    &__text1{

        &::before{
            @include contactPs(url(/img/sec2-ps1.png))
        }
    }

    &__text2{

        &::before{
            @include contactPs(url(/img/sec2-ps2.png))
        }
    }

    &__text3{

        &::before{
            @include contactPs(url(/img/sec2-ps3.png))
        }
    }
}

.form{

    & input{
        padding-right: 300px;
        padding-left: 20px;
        padding-bottom: 18px;
    }
}

@media only screen and (max-width: 1460px) and (min-width: 1400px){

    .contactSection{
    
        &::before{
            display: none;
        }
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1200px){

    .contactSection{
    
        &::before{
            display: none;
        }
    }
}

@media only screen and (max-width: 1100px){

    .contactSection{

        &__block{
            display: flex;
            flex-direction: column;
        }
    }

    .contact{

        & >h1{
            text-align: center;
        }
    
        & >h2{
            text-align: center;
        }
    }

    .form{
        margin-top: 50px;

        & input{
            padding-right: 200px;
        }
    }
}

@media only screen and (max-width: 565px){

    .contactSection{
    
        &::before{
            display: none;
        }
    
        &::after{
            background: url(/img/psElement13.png) no-repeat;
            @include pseudoElement(80px, 80px);
        }
    }
}