.section1_P1{
    margin-top: 100px!important;
    height: 150px;
    position: relative;

    &__title{
        font-size: 90px;
        width: 500px;
        font-family: livvic-700;
    }

    .description{
        width: 670px;
        
        &__line{
            width: 30px;
            height: 2px;
            background-color:#F67E7E;
        }
    }


    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 160px;
        background: url(/img/psElement7.png) no-repeat;
        background-size: 100% 100%;
        bottom: -70px;
        right: -110px;
    }
}


@media only screen and (max-width: 768px){

    .section1_P1{
        margin-top: 100px!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 0 auto;

        &__title{
            width: 500px;
            text-align: center;
        }
    
        .description{
            width: 500px;

            & >p{
                text-align: center;
            }
            
            &__line{
                display: none;
            }
        }
    
        .description{
            width: 500px;
        }    
    
        &::before{
            content: "";
            position: absolute;
            width: 80px;
            height: 160px;
            background: url(/img/psElement7.png) no-repeat;
            background-size: 100% 100%;
            bottom: -175px;
            right: -110px;
        }
    }
}