.section1_P1{
    margin-top: 100px!important;
    position: relative;
    padding-bottom: 70px;

    &::before{
        content: "";
        background: url(/img/psElement7.png) no-repeat;
        @include pseudoElement(80px, 160px);
        bottom: 0px;
        right: 0px;
    }

    &__title{
        font-size: 90px;
        width: 500px;
        font-family: livvic-700;
    }

    &__block{

        height: 233px;

        .description{
            width: 670px;
            
            &__line{
                width: 30px;
                height: 2px;
                background-color:#F67E7E;
            }
        }
    }
}


@media only screen and (max-width: 768px){

    .section1_P1{
        margin: 0 auto;

        &__title{
            text-align: center;
        }
        
        &__block{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 270px;

            .description{
                width: 500px;
    
                & >p{
                    text-align: center;
                }
                
                &__line{
                    display: none;
                }
            } 
        }
    }
}

@media only screen and (max-width: 685px){

    .section1_P1{
        margin-top: 30px!important;
        padding-bottom: 120px;
    
        &::before{
            width: 80px;
            height: 80px;
            background: url(/img/psElement15.png) no-repeat;
        }

        &__title{
            width: fit-content;
        }

        &__block{

            .description{
                width: fit-content;
                padding-left: 20px;
                padding-right: 20px;
            } 
        }
    }
}